$bgcolor: #add8e6;
$whitecolor: #fff;
$textcolor: #444;
$fontsize: 18px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-section{
  background-color: $whitecolor;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  padding: 15px;
  color: $textcolor;
  text-align: center;
  
}

.todoListContainer{
  padding: 10px;
.todoItem {
  padding: 10px;
  background: $whitecolor;
  margin-bottom: 5px;

  button{
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
    outline: none;
  }
}
}


.footer-section{
position: fixed;
height: 50px;
width: 100%;
background-color: $whitecolor;
bottom: 0;

ul{
  list-style: none;
  text-align: center;

  li{
    display: inline-block;
    margin: 0 10px;

    a{
      text-decoration: none;
      color: $textcolor
    }
  }
}
}


.todoInputBoxContainer{
  padding: 15px;

  .todoInputBox{
    background-color: $whitecolor;
    padding: 10px;

    input, input:hover, input:focus{
      border: none;
      width: 95%;
      outline: none;
      font-size: 25px;
      padding: 5px 20px;
    }
  }
}